---
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

html {
  font-size: 14px;
}

.archive .grid__item .archive__item-teaser {
  height: 200px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.archive .grid__item .archive__item-excerpt {
  display: none;
}
